.container {
	border: 5px solid black;
	margin: 0 auto;
	width: 75%;
	text-align: center;
}

.flex-box-rps {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-box-rps img:hover {
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.buttons div{
	padding: 5px;
}

.score {
	display: flex;
	justify-content: space-between;
}
